<!doctype html>
<html lang="en">
<head>
 <% include ../views/head %>
	
</head>
<body>

	<header>
        <% include ../views/header %>
    </header>
	
	<h1><%= title %><h1>
	
	<form action="/search" method="post">
	
	<div class="row">
	<div class="col-md-3">
	 
		<div class="input-group forms">
			<span class="input-group-addon" id="basic-addon1">Author:</span>
			<input type="text" name="author" class="form-control" placeholder="author" aria-describedby="basic-addon1">
		</div>
	</div>
	
	<div class="col-md-3">
	 
		<div class="input-group forms">
			<span class="input-group-addon" id="basic-addon1">Title:</span>
			<input type="text" name="title" class="form-control" placeholder="title" aria-describedby="basic-addon1">
		</div>
	</div>
	
	<div class="col-md-3">
	 
		<div class="input-group forms">
			<span class="input-group-addon" id="basic-addon1">ISBN:</span>
			<input type="text" name="isbn" class="form-control" placeholder="isbn" aria-describedby="basic-addon1">
		</div>
	</div>
	
	</div>
		
	<div class="forms">
	<button type="submit" class="btn btn-default">submit</button>
	</div>
		
	</form>
	
	<table class="table table-hover">
	<thead>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>ISBN</th>
		<th>Price</th>
		<th>Condition</th>
	</tr>
	</thead>
	
	<tbody>
	<% for (var i = 0; i < books.length; i++) { %>
	<tr>
		<td class="searchFont"><%= books[i].title %></td>
		<td class="searchFont"><%= books[i].authors %></td>
		<td class="searchFont"><%= books[i].ISBN %></td>
		<td class="searchFont">$<%= books[i].price %></td>
		<td class="searchFont"><%= books[i].condition %></td>
		<td>
		<form action="/buyListing/<%=books[i].id %>">
		  <input type="submit" value="Buy">
		</form>
		</td>
	</tr>
	<%} %>
	</tbody>
	</table>

	 <footer>
        <% include ../views/footer %>
    </footer>
	
</body>
</html>
